# =====================================================
# Python
# =====================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments and local configs
.env
.venv/
*.env
.DS_Store


# =====================================================
# Streamlit
# =====================================================
.streamlit/

# =====================================================
# VS Code / IDE
# =====================================================
.vscode/
.idea/
.netrwhist                # Neovim's file history
*.swp
*.swo
*.swn
session.vim


# =====================================================
# System / OS
# =====================================================
Thumbs.db
.DS_Store

